cycler==0.10.0
decorator==4.3.0
kiwisolver==1.0.1
matplotlib==3.0.2
networkx==2.2
numpy==1.15.2
pandas==0.23.4
Pillow==5.4.1
PyGSP==0.5.1
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.9
pyunlocbox==0.5.2
scikit-learn==0.20.2
scipy==1.1.0
six==1.12.0
sklearn==0.0
torch==1.0.0
torchvision==0.2.1
